.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select {
  width: max-content;
  height: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button {
  position: absolute;
}

.button,
.addButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
  z-index: 999;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.input {
  padding: 20px;
  font-size: 28px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.postOptions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  height: 66px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.postOptions div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.postOptions div input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.textArea {
  padding: 20px 20px;
  width: 100%;
}

.publish {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

@media only screen and (max-width: 640px) {
  .postOptions {
    font-size: 15px;
  }
  .postOptions div input {
    height: 15px;
    width: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .postOptions {
    font-size: 14px;
    gap: 15px;
  }
  .postOptions div {
    gap: 4px;
    overflow: hidden;
  }
  .postOptions div input {
    height: 13px;
    width: 13px;
  }
  .select {
    height: 24px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 12px;
  }
}
